<% if (title) { %>
    <h1><%= title %></h1>
    <%- messages() %>
    <form id="login-form" action="/account/login" method="post">
        <label for="email">Email:</label>
        <input type="text" name="account_email" id="email" required value="<%= locals.account_email %>">
  
        <label for="password">Password:</label>
        <input type="password" name="account_password" id="password" required>
  
        <button type="submit">Log In</button>
      </form>
      <a class="top-links" title="Click to log in" href="/account/register">register</a>
    <% } else {
        res.redirect('/')
    } %>