<% if (title) { %>
    <h1><%= title %></h1>
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
  
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
  
        <button type="submit">Log In</button>
      </form>
      <a class="top-links" title="Click to log in" href="/account/register">register</a>
    <% } else {
        res.redirect('/')
    } %>