<% if (title) { %>
  <h1><%= title %></h1>
  <%- messages() %>
  <% if (errors) {%>
  <ul class="notice">
    <% errors.array().forEach(error => {%>
    <li><%= error.msg %></li>
  <% }) %>
  </ul>
  <% } %>
    <div id="registerContainer">
      <p>All fields are required.</p>
      <form id="resgisterForm" action="/inv/newclass" method="post">
          <label for="classification_name">classification_name:</label>
          <input type="text" name="classification_name" id="classification_name" required value="<%= locals.classification_name %>">
          <button type="submit">Register</button> 
      </form>
    </div>
  <% } else {
      res.redirect('/')
  } %>