<header id="top-header" >
    <span class="siteName">
      <a class="top-links" href="/" title="Return to home page">New Motors</a>
    </span>
    <div id="tools">
      <% if (locals.loggedin) { %>
        <a class="top-links" title="Click to go to manegement account view" href="/account/">Welcome <%= locals.accountData.account_firstname %></a>
        <a class="top-links" title="Click to log out" href="/account/logout">Log Out</a>
      <% } else { %>
        <a class="top-links" title="Click to log in" href="/account/login">My account</a>
      <% } %>
    </div>
  </header>