<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<div class="delorean-box">
    <img class="delorean" src="images/vehicles/delorean.jpg" alt="delorean">
    <section class="box">
        <h1>DMC Delorean</h1>
<p>3 Cup holders</p>
<p>Superman doors</p>
<p>Fuzzy dice!</p>
<button>own today</button>
    </section>
</div>
<section class="grid-container">
    <div>
        <h1 class="titles">Delorean Upgrades</h1>
        <div class="in-grid-container">
            <section>
                <div>
                    <img src="images/upgrades/flux-cap.png" alt="Flux Capacitor"> 
                </div>
                <a title="Click to log in" href="/account/login">Flux Capacitor</a>
            </section>
            <section>
                <div>
                    <img src="images/upgrades/flame.jpg" alt="Flame Decais"> 
                </div>
                <a title="Click to log in" href="/account/login">Flame Decais</a>
            </section>
            <section>
                <div>
                    <img src="images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"> 
                </div>
                <a title="Click to log in" href="/account/login">Bumper Stickers</a>
            </section>
            <section>
                <div>
                    <img src="images/upgrades/hub-cap.jpg" alt="Hub Caps"> 
                </div>
                <a title="Click to log in" href="/account/login">Hub Caps</a>
            </section>
            
        </div>
    </div>
    <div class="list_box">
        <h1 class="titles">DMC Delorean Reviews</h1>
        <ul class="item-list">
            <li>"So fast it's almost like traveling in time."(4/5)</li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I'm feeling Mcfly!"(5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </div>
</section>


