<h1>Welcome to CSE Motors!</h1>
<div class="delorean-box">
    <img class="delorean" src="images/vehicles/delorean.jpg" alt="delorean">
    <section class="box">
        <h1>DMC Delorean</h1>
<p>3 Cup holders</p>
<p>Superman</p>
<p>Fuzzy dicel</p>
<button>own today</button>
    </section>
</div>
<section class="grid-container">
    <div>
        <h1 class="titles">Delorean Upgrades</h1>
        <div class="in-grid-container">
            <section>
                <div>
                    <img src="images/vehicles/delorean.jpg" alt="delorean"> 
                </div>
                <a title="Click to log in" href="/account/login">My Account</a>
            </section>
            <section>
                <div>
                    <img src="images/vehicles/delorean.jpg" alt="delorean"> 
                </div>
                <a title="Click to log in" href="/account/login">My Account</a>
            </section>
            <section>
                <div>
                    <img src="images/vehicles/delorean.jpg" alt="delorean"> 
                </div>
                <a title="Click to log in" href="/account/login">My Account</a>
            </section>
            <section>
                <div>
                    <img src="images/vehicles/delorean.jpg" alt="delorean"> 
                </div>
                <a title="Click to log in" href="/account/login">My Account</a>
            </section>
            
        </div>
    </div>
    <div class="list_box">
        <h1 class="titles">DMC Delorean Reviews</h1>
        <ul class="item-list">
            <li>"So fast it's almost like traveling in time."(4/5)</li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I'm feeling Mcfly!"(5/5)</li>
            <li>"The most futuristic ride of our day."(4.5/5)</li>
            <li>"80's livin and I love it!"(5/5)</li>
        </ul>
    </div>
</section>


