<h1>Welcome to CSE Motors!</h1>
<div class="delorean-box">
    <img class="delorean" src="images/vehicles/delorean.jpg" alt="delorean">
    <section class="box">
        <h1>DMC Delorean</h1>
<p>3 Cup holders</p>
<p>Superman</p>
<p>Fuzzy dicel</p>
<button>own today</button>
    </section>
</div>
<section class="grid-container">
    <div>
        <h1>Delorean Upgrades</h1>
        <div class="in-grid-container">
            <section>
                <div>
                    <img src="images/vehicles/delorean.jpg" alt="delorean"> 
                </div>
                <a title="Click to log in" href="/account/login">My Account</a>
            </section>
            <section>
                <div>
                    <img src="images/vehicles/delorean.jpg" alt="delorean"> 
                </div>
                <a title="Click to log in" href="/account/login">My Account</a>
            </section>
            <section>
                <div>
                    <img src="images/vehicles/delorean.jpg" alt="delorean"> 
                </div>
                <a title="Click to log in" href="/account/login">My Account</a>
            </section>
            <section>
                <div>
                    <img src="images/vehicles/delorean.jpg" alt="delorean"> 
                </div>
                <a title="Click to log in" href="/account/login">My Account</a>
            </section>
            
        </div>
    </div>
    <div>
        <h1>DMC Delorean Reviews</h1>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>


