@media only screen and (max-width: 480px) {
    body{
        background-image: none;
       }
       nav{
        width: 409px;
        margin-left: -25px;
       }
       #inv-display{
        grid-template-columns: 265px;
       }
       #wrapper{
        border-style: none;
        width: 300px;
        margin: 0;
      }
      
      .in-grid-container>section >a {
        margin: 26px;
        font-size: 9px;
    }
    .in-grid-container {
        grid-template-columns: 107px 107px;
        justify-content: center;
    }
    .in-grid-container>img {
        justify-content: center;
    }
      .delorean{
        width: 295px;
        height: 229px;
        margin-right: -405px;
        margin-left: -129px;
        margin-top: 81px;
      }
      .in-grid-container>section>div>img {
        width: 70px;
        height: 70px;
        margin: 10px;
    }
    .in-grid-container >section {
        margin: 7px;
    }
      .box{
        background: rgba(27, 48, 70, 0.3);
        padding: 10px;
        width: 128px;
        height: 202px;
        /* margin: auto; */
        margin-left: 103px;
        color: rgb(255, 242, 0)
      }
      .box>h1,p{
        font-size: 14px;
      }
      .grid-container{
        display: grid;
        grid-template-columns: 283px;
        gap: 0px;
      }
      .list_box{
        grid-column: 1;
        grid-row: 1;
        padding: 30px;
      }
      nav >ul {
        margin-left: 16px;
        margin-right: 17px;
        display: flex;
        justify-content: space-around;
        color: white;
        background-color: black;
        padding: 15px;
        font-size: 11px;
        gap: 9px;
        list-style-type: none;
    }
    #displayer{
      flex-direction: column;
      grid-column: span 1;
    }
    #inv-display >li>a> .list-img{
      width: 199px;
      height: 123px;
    }
    #displayer > a >.detail-img{
      width: 200px;
      height: 122px;
    }
  }