<% if (title) { %>
    <h1><%= title %></h1>
    <%- messages() %>
    <div class="tools">
      <a class="top-links" title="Click to log in" href="/inv/newclass">add new classification</a>
    </div>
    <div class="tools">
      <a class="top-links" title="Click to log in" href="/inv/newinv">add new inventory</a>
    </div>
    <% } else {
        res.redirect('/')
    } %>