<% if (title) { %>
  <h1><%= title %></h1>
  <%- messages() %>
  <% if (errors) {%>
  <ul class="notice">
    <% errors.array().forEach(error => {%>
    <li><%= error.msg %></li>
  <% }) %>
  </ul>
  <% } %>
    <div id="registerContainer">
      <p>All fields are required.</p>
      <form id="resgisterForm" action="/inv/newclass" method="post">
        <div class="row">
          <div class="col-25">
            <label for="classification_name">classification_name:</label>
          </div>
          <div class="col-75">
            <input type="text" name="classification_name" id="classification_name" required pattern="^[A-Za-z]+$" value="<%= locals.classification_name %>">
          </div>
        </div> 
          <div class="row">
            <input type="submit" value="Register">
          </div>
      </form>
    </div>
  <% } else {
      res.redirect('/')
  } %>